@import "~@scss/theme";

.Button {  
  width: 860px;
  height: 50px;
  padding: 8px;  
  color: black;  
  border-top: 1px solid #c2c2c2;
  border-left: 1px solid #c2c2c2;
  border-right: 1px solid #c2c2c2;  
  outline: none;
  font-weight: bold;
  text-align: left;
}

