$prefix: 't';

$typography-locales: (
	ru: Montserrat,
);

$typography-weights: (
	regular: 400,
	medium: 500,
	bold: 700,
	semibold: 800,
);

@each $locale, $font-family in $typography-locales {
	:global .#{$prefix}-locale-#{$locale} {
	font-family: $font-family;

		@each $weight-name, $weight in $typography-weights {
			&.#{$prefix}-weight-#{$weight-name} {
				font-weight: $weight;
			}
		}
	}
}
