$prefix: "t";

$typography-weights: (
	regular: 400,
	medium: 500,
	bold: 700,
	semibold: 800,
);

:global {
	@each $weight-name, $weight in $typography-weights {
		.#{$prefix}-#{$weight-name} {
			font-family: Montserrat;
			font-weight: $weight;
		}
	}
}
