@import "~@scss/theme";

.About__container {
	width: 100%;
	height: 90vh;
	padding: 8px;
	
}

.About__title {
	color: map-get($colors, secondary);

	font-size: 25px;

	float: right;
}

.About__content {
	
}