@import "~@scss/theme.scss";

.Collapse {
  overflow: hidden;
  transition: $transition;
  transition-property: height;

  &__content {
    position: relative;
    display: inline-block;
    width: 860px;
    height: 60px;
    padding: 8px;     
    color: black;
    font-weight: bold;
    
    border-left: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
  }  
}

