@import "~@scss/variables";

.Collapse {
  overflow: hidden;
  transition: $transition;
  transition-property: height;

  &__content {
    position: relative;
    display: inline-block;
    width: 100%;
  }
}
