$colors: (
	t-color: #ffffff,
	background-color: #232323,
	second-background-color: #2e2e2e,
	gold: #f1d880,
	gold-d1: #b8860b,
);

$transition: 0.3s ease-in-out;

$breakpoints: (
	// mobile phones
	xs: 320px,
	// tablets
	sm: 768px,
	// large tablets
	md: 1025px,
	// small pc screens
	lg: 1400px,
	// large pc screens
	xl: 1920px,
);

@mixin breakpoint($breakpoint) {
	@if $breakpoint == "" {
		@content;
	} @else {
		$breakpoint-value: map-get($breakpoints, $breakpoint);

		@if $breakpoint-value != null {
			@media (min-width: $breakpoint-value) {
				@content;
			}
		}
	}
}
