$colors: (
	t-color: #FFFFFF,
	background-color: #232323,
	second-background-color: #2E2E2E,
	gold: #F1D880,	
	gold-d1: #B8860B,
  );
  
  $transition: .3s ease-in-out;

  $breakpoints: (
  xs: 320px, // mobile phones
  sm: 768px, // tablets
  md: 1025px, // large tablets
  lg: 1400px, // small pc screens
  xl: 1920px, // large pc screens
);
  
@mixin breakpoint($breakpoint) {
	@if $breakpoint == "" {
	  @content;
	}
  
	@else {
	  $breakpoint-value: map-get($breakpoints, $breakpoint);
  
	  @if $breakpoint-value != null {
		@media (min-width: $breakpoint-value) {
		  @content;
		}
	  }
	}
  }
	
