@import "~@scss/theme";

.cover {
	width: 100%;
	height: 100vh;

	clip-path: polygon(0 30%, 100% 9%, 100% 69%, 0 91%);

	background-color: map-get($colors, second-background-color);
}

.cover__container {
	width: 90%;

	margin: 0 auto;

}

.cover__title {
	width: 230px;
	
	padding-top: 60px;

	color: map-get($colors, t-color);

	letter-spacing: 4px;

	font-size: 31px;
	text-transform: uppercase;
}

.cover__title_svg {
    position: relative;
	width: 100%;
	
    display: flex;
	flex-flow: column nowrap;
	
	margin-top: 50px;
}

.cover__subtitle {
	width: 240px;

	margin: 0 auto;

	padding-top: 38px;

	text-align: right;

	font-size: 23px;

	color: map-get($colors, t-color);
}

.cover__btn {
	
}